@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.custom-cursor {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #2E5D3A;
  border-radius: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s, background-color 0.3s;
  z-index: 9999;
}

.custom-cursor.hover {
  width: 40px;
  height: 40px;
  opacity: 0.8;
}